body{
    background-image: url("../../../../assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.wrapper {
    margin-top: 20%;
    margin-left: 36%;
    display: grid;
  }
  
  .typing-demo {
    width: 13ch;
    animation: typing 2s steps(6), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    color: black;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.inputName{
    margin-top: 2%;
    height: 50px;
    text-align: center
}
.card{
    width: 10rem;
    height: 150px;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 5%;
    color: aliceblue;
    background-color: rgba(56, 25, 168, 0.5);
    text-align: center
}